<div class="max-w-xs rounded overflow-hidden shadow-lg mt-5 flex flex-col">
  <img src="{{cards_img}}" alt="Reloj Rolex Submariner"/>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 text-center">{{card_title}}</div>
    <p class="text-grey-darker text-base">{{card_text}}</p>
  </div>
  <div class="px-6 py-4 flex flex-col space-y-3 w-auto">
    <div class="border-2 border-gray-600 inline-block bg-grey-lighter p-2 text-sm text-center font-semibold text-grey-darker">{{card_price}}</div>
    <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">{{card_button}}</button>

  </div>
</div>


 
