{{#if primary}}
<a href="{{uri}}"
  class="w-100 md:ml-6 mb-4 md:mb-0 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">
  {{text}}
</a>
{{else}}
<a href="{{uri}}"
  class="w-100 md:ml-6 mb-4 md:mb-0 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-gray bg-gray-500 hover:bg-gray-300 hover:text-black">
  {{text}}
</a>
{{/if}}
